extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a.back(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Billy Ryan Shelton

        p.lead.text-light
          | Full Stack JavaScript Developer

          img.image(src="/static/img/profile_waffles.jpeg")
        .portfolio-bio
          p
            | As a growing Full Stack Javascript Developer, my goal is to create effective, efficient and sleek applications that can solve my client’s most complex problems.  My experience with the full stack gives me the edge to create a fully supported platform.  I currently specialize more in front end development with some back end development, but my skill set is ever growing.  If you have an idea that you would like to materialize, I  am more than willing to give you a consultation to evaluate the scope and cost of the project.  I am open to discuss collaboration and job opportunities.  
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
        ul
          li Javascript
          li HTML
          li CSS
          li NPM
          li React.js
          li JSX
          li Jquery
          li Node.js 
          li Express
          li Pug
          li AJAX
          li API Requests
          li SQL
          li ORM Sequelize
          li Postman
          li C/C++
          li WordPress
          li Git/GitHub
        h6 Contact Info

        ul
          li 956-566-6261
          li sheltonbilly@utexas.edu

        a.button.expanded(href='https://www.linkedin.com/in/billyryanshelton/', target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/BillyRyanShelton', target="_blank") GitHub
        //- a.button.expanded(href='') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  